@import "colors.scss";

body {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif; 
    font-size: 16px;
  }
  
  p {
    font-family: SourceSansPro-Regular;
  }

  .story-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
  }

  .story-preHeader {
    color: $white;
    font-size: 42px;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    z-index: 1;
    text-transform: uppercase;
    position: relative;
    transform: translate(20px, 5px);
  }

  .story-mainHeader {
    color: $white;
    font-size: 130px;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    opacity: 0.2;
    line-height: 145px;
  }

  @media (max-width: 990px) {
    .story-header {
      margin-bottom: 50px;
    }

    .story-mainHeader {
      font-size: 50px;
    }

    .story-preHeader {
      font-size: 20px;
      transform: translate(10px, 5px);
    }
  
  }
  

  