.story-section7 {
  background-color: #1f1f1f;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  padding-bottom: 55px;
  justify-content: center;
}

.story-section7-col {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-section7-header {
  margin-top: 334px;
  margin-bottom: 20px;
}

.section7-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.section7-p {
  position: relative;
  z-index: 2;
  color: $white;
  font-size: 20px;
  max-width: 450px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section7-a {
  text-transform: uppercase;
  font-family: SourceSansPro-Semibold, Arial, Helvetica, sans-serif;
  line-height: 45px;

  &::after {
    font-family: "icomoon";
    content: "\E909";
    font-size: 1rem;
    margin-left: 10px;
  }
}
.story-brand {
  background-image: url(https://www2.arccorp.com/globalassets/about-us/our-story/our-brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 610px;
    border-radius: 10px;
    border: 1.5px solid rgba(255,255,255,.2);
    height: 885px;
    margin-left: -150px;
}

@media (max-width: 990px) {
  .story-section7 {
    padding-bottom: 0px;
  }

  .section7-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .story-section7-header {
    margin-top: 118px;
  }

  .section7-p {
    text-align: center;
  }

  .story-brand {
    height: auto;
    max-width: 350px;
    margin: auto auto 40px auto;
  }

  .brand-header {
    margin-right: 0;
  }
}
