.story-people {
  background-image: url(https://www2.arccorp.com/globalassets/about-us/our-story/our-people.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: inherit;
  max-width: 610px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 885px;
  margin-left: 28px; 
}

@media (max-width: 990px) {
  .story-people {
    height: auto;
    margin-left: auto;
  }
}
