.story-sticky-container {
    height: 56px;
  }

  .story-sticky-inner {
    height: 100%;
    background: #189bb0;
  }
  
  .story-sticky-nav {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
  }
  
  .story-sticky-menu {
    height: 100%;
  }
  
  .story-sticky-links {
    height: 100%;
    margin: 0 auto;
  }
  
  a.story-sticky-link,
  a.story-sticky-link-right {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 10px;
    color: #ffffff;
  
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      opacity: 0.9;
    }
  }
  
  a.story-sticky-link-right,
  a.story-sticky-link-right:active,
  a.story-sticky-link-right:focus,
  a.story-sticky-link-right:hover {
    color: #ffffff;
    padding-right: 0;
  }
  
  a.story-sticky-link-right i,
  a.story-sticky-link-right svg {
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 0;
  }
  
  .story-sticky-brand img {
    height: 16px;
    margin-right: 5px;
    margin-left: 10px;
  }
  
  .story-sticky-title {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 0px;
    color: #ffffff;
  }